<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <title>Rabbit by ID</title>

</head>

<body>
    <div class="container">

        <!-- everything that goes in container  here -->
        <h1>Here is rabbit with ID
            <%= rabbitOne.rabbitID %>
        </h1>
        <hr>
        <h5>Name:
            <%= rabbitOne.name %>
        </h5>
        <h5>Color:
            <%= rabbitOne.color %>
        </h5>
        <h5>Age:
            <%= rabbitOne.age %>
        </h5>
        <hr>
    </div>
    <!-- end container div -->

</body>

</html>