<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>
        <% for(let i=0;i<users.length;i++)  { %>
                <li><%= users[i].name %>(<%= users[i].age %>)</li>
        <% } %>
    </div>
    <br>
    <br>
    <div>
        <form action="/users" method="post">
            <p>Name: <input type="text" name="name" id="name"></p>
            <p>Age: <input type="text" name="age" id="age"></p>
            <button type="submit">Create</button>
        </form>
    </div>
</body>
</html>